<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Send Emails</title>

    <style>
        #emails {
            overflow-y: scroll;
        }
    </style>
</head>
<body>

    <div id="emails">
        <% emails.forEach(email => {%>
            <p><%= email %></p>
        <% }); %>
    </div>

    <form method="POST">
        <input type="email" placeholder="To" name="email">
        <input type="text" placeholder="Subject" name="subject">
        <input type="text" placeholder="Content" name="content">
        <button type="submit">SUBMIT</button>
    </form>
    
</body>
</html>